@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

@font-face {
  font-family: 'Cinzel Decorative';
  src: url('../pages/Lucida\ Bright\ Regular.ttf') format('ttf');
  /* font-weight: normal;
  font-style: normal; */
}

body {
  font-family: 'Lucida Bright Regular', sans-serif;
}

p {
  font-size: 17px !important;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-thumb {
  background-color: #1b1d43;
  border-radius: 6px;
  border: 3px solid white;
}

::-webkit-scrollbar-track {
  background-color: #fff;
}

.mh-1 h1 {
  font-size: 50px;
}

.width-container {
  width: 85%;
  margin: 0 auto;
}

.btn-a {
  background: #1a8273;
  border-radius: 50px;
  padding: 9px 15px;
  color: #fff;
  line-height: 1.5;
  font-weight: 500;
  text-decoration: auto;
  font-size: 14px !important;
  position: relative;
}

section.main-banner-vid h1,
.brand-hero-bg-img h1 {
  color: #ffffff;
  font-weight: 600;
  /* font-size: 70px; */
  /* line-height: 1.5; */
}

section.main-banner-vid h2 {
  color: #ffffff;
  font-weight: 500;
  font-size: 22px;
  line-height: 1.5;
}

section.main-banner-vid h2 span,
.brand-hero-section h3 span {
  background: #167e6f;
}

.main-banner-vid p {
  color: #ffffff;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.5;
}

.main-banner-vid p span {
  background: #299081;
  padding: 0px 2px;
  height: 100vh;
  font-weight: bold;
}

.main-banner-vid {
  background: #0000009e;
  height: 100vh;
}

video#vide {
  position: absolute;
  z-index: -1;
  height: 100vh;
  width: 100%;
  object-fit: cover;

}

section.brnd-slider.bg-black {
  background: #fff;
  background-image: -webkit-linear-gradient(90deg, #ededed 0, #fff 100%);
  border-bottom: 0.1px solid #d7d7d7;
  box-shadow: 0 7px 18.27px 2.73px rgba(0, 0, 0, .08);
}

.m1-h h3 {
  color: #000;
  /* font-size: 70px; */
  /* line-height: 1; */
  /* font-weight: 500; */
}

.m1-h h3 span {
  color: #000;
  /* font-size: 70px; */
  /* line-height: 111px; */
  /* font-weight: 600; */
  text-transform: uppercase;
  display: block;
}

/* .portfolio {
  background-color: #9b9b9b;
} */

.portfolio {
  /* background-image: url(../public/images/port-banner_.png);
  background-size: cover; */
  background: #147d6e;
}

.portfolio-h h3,
.portfolio-h h3 span {
  color: #fff;
}

/* .book-joun {
  background: #1a8273;
} */

.border-about-card {
  border: 1px solid #919090;
}

.pack-box h4 {
  color: #ffffff;
  /* font-size: 20px; */
  font-weight: 700;
  text-transform: uppercase;
  /* line-height: 1.2; */
}

.pack-wrap,
.brand-bundle-pack-wrap {
  border-radius: 20px;
  border-radius: 27px;
  background-image: -moz-linear-gradient(90deg, rgb(19, 124, 109) 0%, #157d6e 100%);
  background-image: -webkit-linear-gradient(90deg, rgb(19, 124, 109) 0%, rgb(48, 150, 135) 100%);
  background-image: -ms-linear-gradient(90deg, rgb(19, 124, 109) 0%, rgb(48, 150, 135) 100%);
  padding: 15px;
  cursor: pointer;
  transition: .4s ease-in-out;
}

.brand-bundle-pack-wrap:hover {
  background-image: -moz-linear-gradient(90deg, #0f113d 0%, #0f113d 100%);
  background-image: -webkit-linear-gradient(90deg, #0f113d 0%, #0f113d 100%);
  transition: .4s ease-in-out;
}

.pack-wrap p,
.brand-bundle-pack-wrap p {
  line-height: 1.5;
  font-weight: 400;
  color: #fff;
  padding: 14px 2px;
  font-size: 14px !important;
}

section.process {
  background: #d6d6d6;
}

.conter-box p {
  font-size: 35px !important;
  font-weight: 700;
  line-height: 1.5;
}

.conter-box span {
  font-size: 22px;
  font-weight: 400;
  line-height: 1.5;
}


th.pro {
  /* font-size: 45px; */
  border: none;
  background: #fff;
  color: #000;
  line-height: 1.6;
  font-family: '__majallab_6a9f2a';
}

.table>:not(caption)>*>* {
  background: #167e6f;
}

.table-packages td,
.table-packages th,
.business-table td,
.business-table th {
  margin: 0;
  padding: 15px;
  line-height: 1.5;
  vertical-align: top;
  border: 1px solid #ffffff;
  font-size: 20px;
  color: #fff;
}


/* td {
  border: 1px solid #ffffff;
} */

tbody {
  color: rgb(255, 255, 255);
  line-height: 3;
  padding: 10px;
  display: contents;
  font-weight: 500;
}

section.story-sec {
  background: #2c9384;
}

section.story-sec h3 {
  color: #fff;
}

header {
  position: absolute;
  left: 0;
  right: 0;
}

footer {
  background: #1a1d5a;
}

td img {
  margin: auto;
}

thead.first-row tr>th {
  background: #0d0f38;
  color: #fff;
  border: none;
  font-size: 24px;
  line-height: 2;
  text-align: center;
}

thead.first-row tr>th:nth-child(1) {
  border-top-left-radius: 18px;
  border-bottom-left-radius: 18px;
}

thead.first-row tr>th:nth-last-child(1) {
  border-top-right-radius: 18px;
  border-bottom-right-radius: 18px;
}

/* table.w-full.mb-14 td {
  background: #2c9384;
} */

table.w-full.mb-14 .border-left-radius-table {
  border-top-left-radius: 18px;
  /* border-bottom-left-radius: 20px; */
}

table.w-full.mb-14 .border-bottom-left-radius-table {
  border-bottom-left-radius: 20px;
}

.border-bottom-right-radius-table {
  border-bottom-right-radius: 20px;
}

.border-top-right-radius-table {
  border-top-right-radius: 20px;
}



.swiper_wrap {
  padding: 0px 50px;
  height: 100%;
  width: 100%;
  position: relative;
  display: block;
  text-align: left;
}

.swiper-button-next {
  margin-top: 0px;
  position: absolute;
  top: 50%;
  right: -40px;
  width: 45px;
  height: 45px;
  transform: translateY(-50%);
}

.swiper-button-prev {
  position: absolute;
  top: 50%;
  left: -40px;
  width: 45px;
  height: 45px;
  transform: translateY(-50%);
  margin-top: 0px;
}

video#background-video {
  width: 100%;
  height: auto;
  object-fit: cover;
  position: absolute;
  z-index: -1;
  top: 0;
}



.swiper_wrap {
  height: 100%;
  width: 100%;
  position: relative;
  display: block;
  text-align: left;
  margin-bottom: 50px;
}

.bk-sil.next {
  margin-top: 0px;
  position: absolute;
  top: 50%;
  right: -25px;
  width: 45px;
  height: 35px;
  transform: translateY(-50%);
  background: #0d0f38;
  border: none;
  padding: 10px 7px;
  color: #fff;
  border-radius: 10px;
  width: 3.5%;
  font-size: 24px;
  line-height: 0.5;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s ease-in-out;
}

.bk-sil.prev {
  position: absolute;
  top: 50%;
  left: -31px;
  width: 45px;
  height: 35px;
  transform: translateY(-50%);
  margin-top: 0px;
  background: #0d0f38;
  border: none;
  padding: 10px 7px;
  color: #fff;
  border-radius: 10px;
  width: 3.5%;
  font-size: 24px;
  line-height: 0.5;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s ease-in-out;
}

.bk-sil.prev:hover {
  scale: 0.9;
  transition: 0.4s ease-in-out;
}

.bk-sil.next:hover {
  scale: 0.9;
  transition: 0.4s ease-in-out;
}

.bk-sil2.prev:hover {
  scale: 0.9;
  transition: 0.4s ease-in-out;
}

.bk-sil2.next:hover {
  scale: 0.9;
  transition: 0.4s ease-in-out;
}

.bk-sil2.next {
  margin-top: 0px;
  position: absolute;
  top: 43%;
  right: -36px;
  width: 45px;
  height: 35px;
  transform: translateY(-50%);
  background: #0d0f38;
  border: none;
  padding: 10px 7px;
  color: #fff;
  border-radius: 10px;
  width: 3.5%;
  font-size: 24px;
  line-height: 0.5;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s ease-in-out;

}

.bk-sil2.prev {
  position: absolute;
  top: 43%;
  left: -45px;
  width: 45px;
  height: 35px;
  transform: translateY(-50%);
  margin-top: 0px;
  background: #0d0f38;
  border: none;
  padding: 10px 7px;
  color: #fff;
  border-radius: 10px;
  width: 3.5%;
  font-size: 24px;
  line-height: 0.5;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s ease-in-out;
}

.bnd-slider.swiper-wrapper {
  text-align: -webkit-center;
}

.copyright-sec {
  background-color: #2c9384;
}

.connect-form-input {
  background-color: #fff;
  font-size: 16px;
  border-radius: 10px;
  border: 2px solid #fff0;
  padding: 17px;
}

.header-form-input {
  background-color: #fff;
  font-size: 16px;
  border-radius: 10px;
  border: 2px solid #fff0;
}

.header-form-input select {
  color: grey;
}

.connect-form-input:focus-visible {
  border: 2px solid #2c9384;
}

.header-submit-btn:hover {
  background-color: transparent;
  border: 1px solid #fff;
  color: #fff;
  transition: 0.4s ease-out;
}

.submit-btn,
.header-submit-btn {
  background-color: #2c9384;
  transition: 0.4s ease-out;
}

.submit-btn:hover {
  background-color: transparent;
  border: 1px solid #2c9384;
  color: #2c9384;
  transition: 0.4s ease-out;
}

.connect-form-border {
  border: 6px solid #2c9384;
  border-radius: 60px;
}

.book-publishing-infograph-img {
  width: 100% !important;
}

.transition-all {
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition: max-height 0.7s ease-in-out, opacity 0.5s ease-in-out;
}

.max-h-96 {
  max-height: 50rem;
  opacity: 1;
}

footer .footer-line:before {
  content: '';
  background-color: #fff;
  height: 307px;
  width: 2px;
  position: absolute;
  right: -33px;
  /* bottom: 102%; */
  top: -18px;
}

.video-info {
  width: 100%;
}

.bages-pic .swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.get-premium-btn {
  background-color: #2c9384;
  color: #fff;
  border-radius: 8px;
  padding: 10px 40px;
  margin-top: 20px;
  transition: 0.4s ease-in-out;
}

.get-premium-btn:hover {
  background-color: transparent;
  color: #fff;
  border: 1px solid #fff;
  transition: 0.4s ease-in-out;
}


.book-sell-text {
  position: absolute;
  left: 16px;
  /* top: 32px; */
  margin-top: 28px;
}

.book-sell-text h3 {
  line-height: 24px;
  font-weight: bold;
}

.book-sell-text span {
  font-weight: bold;
}

.custom-logo-size {
  width: 100%;
  object-fit: cover;
  padding-top: 8px;
  /* height: 29px; */
}

.table-sec svg,
.faqs svg,
footer svg {
  width: 24px;
  text-align: center;
  display: inline-block;
}


.contact-form-img {
  height: auto !important;
  position: relative;
  left: 8px;
  top: 0px;
  padding: 0;
}

.close-btn-modal {
  position: absolute;
  top: 4px;
  background: orange;
  right: -71px;
}

.close-btn-modal svg,
.home-close-btn-modal svg {
  width: 20px;
  object-fit: contain;
}

.popup-img-bg {
  height: 550px !important;
  border-top-left-radius: 52px;
  border-bottom-left-radius: 52px;
}

.popup-modal-wrapper {
  width: 60%;
}


@keyframes openAnimation {
  from {
    max-height: 0;
    opacity: 0;
  }

  to {
    max-height: 96px;
    opacity: 1;
  }
}

@keyframes closeAnimation {
  from {
    max-height: 96px;
    opacity: 1;
  }

  to {
    max-height: 0;
    opacity: 0;
  }
}

.faq-content-open {
  animation: openAnimation 0.7s forwards;
  overflow: hidden;
}

.faq-content-close {
  animation: closeAnimation 0.7s forwards;
  overflow: hidden;
}

.book-zoom-effect,
.new-lp-about-book .logos img {
  transform: scale(1);
  -webkit-transition: .3s ease-in-out;
  transition: .4s ease-in-out;
  cursor: pointer;
}

.book-zoom-effect:hover,
.new-lp-about-book .logos img:hover {
  -webkit-transform: scale(1.3);
  transform: scale(1.2);
  transition: .4s ease-in-out;
}

.privacy-policy h2 {
  font-size: 36px;
  font-weight: bold;
}

.privacy-policy p,
.privacy-policy ul {
  font-size: 19px;
  padding-bottom: 20px;
  color: #666;
  list-style: inherit;
}

.privacy-policy ul li {
  margin-bottom: 10px;
  margin-left: 40px;
}

.privacy-policy h1,
.header-bg h3 {
  font-size: 40px;
  font-weight: bold;
}

.header-bg {
  background-image: url(../public/images/privacy-policy.png);
  padding: 6% 0;
  background-repeat: no-repeat;
  background-size: cover;
}

.packages {
  background-color: #1b1e5b;
}

.single-packages {
  background-color: #d6d6d6;
  border-radius: 26px;
  color: #0d0f38;
  transition: .3s ease-in-out;
  width: 370px;
  font-weight: bold;
  border: 1px solid #747474;
}

.single-packages:hover {
  background-color: #147d6e;
  color: #fff;
}

.single-packages:hover {
  -webkit-transform: scale(1.3);
  transform: scale(1.04);
  transition: .4s ease-in-out;
}

.single-packages-content {
  padding: 25px;
  margin-right: 25px;
}

.single-packages .package-badge {
  position: absolute;
  right: -24px;
  top: -17px;
  animation: upAndDown 3s ease-in-out .6s infinite;
  z-index: 1;
}

/* .single-packages:hover,
.single-packages:hover h4{
  background-color: #bdbdbd;
  color: #1b1e5b;
  transition: .3s ease-in-out;
  border-radius: 26px;
} */
/* .single-packages:hover svg{
  color: #1b1e5b;
  transition: .3s ease-in-out;
} */

.single-packages svg {
  width: 15px;
}

.single-packages-content {
  height: 349px;
  overflow: scroll;
  overflow-x: hidden;
}

.single-packages-content img {
  filter: invert(1);
}

.single-packages:hover .single-packages-content img {
  filter: invert(0);
}


.single-packages-content::-webkit-scrollbar {
  width: 8px;
}

.single-packages-content::-webkit-scrollbar-thumb {
  background-color: #1b1d43;
  border-radius: 9px;
  border: 1px solid white;
}

.single-packages-content::-webkit-scrollbar-track {
  background-color: #d6d6d6;
}

.single-packages-footer {
  background-color: #f1efef;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border: 1px solid #747474;
  /* position: absolute;
  bottom: 0; */
  width: 370px;
  margin: 0 auto;
  padding: 6px 13px;
  position: relative;
  top: 13px;
  left: -1px;
}

.hover-top-vector {
  color: #0d0f38;
  background-color: #f1efef;
  border-top-right-radius: 26px;
  border-top-left-radius: 26px;
}

.single-packages-footer h5 {
  color: #147d6e;
  line-height: 18px;
  font-size: 16px;
}

.tooltip {
  position: relative;
  cursor: pointer;
}

.tooltip:hover .tooltip-content {
  visibility: visible;
  transition: .4s ease-in;
}

.tooltip-content {
  position: absolute;
  font-weight: 500;
  visibility: hidden;
  width: 260px;
  background-color: #fff;
  color: #000;
  border-radius: 6px;
  padding: 10px 12px;
  z-index: 1000;
  top: 100%;
  right: 0;
  margin-left: 0;
  margin-top: 10px;
  font-size: 14px;
  border: 1px solid #0d0f38;
  text-align: left;
  line-height: 20px;
  box-shadow: 0 10px 20px -8px rgba(0, 0, 0, .7);

}

.tooltip-content ul {
  list-style: disc;
  margin-left: 16px;
}

.single-packages:hover .tooltip img {
  filter: invert(0);
}

.tooltip img {
  filter: invert(1);
}

/* .single-packages:hover .single-packages-footer{
  background-color: #1b1d43;
  color: #fff; 
} */

.package-get-started-btn {
  background-color: #fff;
  color: #0d0f38;
  padding: 7px 39px;
  border-radius: 30px;
  font-weight: bold;
  transition: .4s ease-out;
}

.package-get-started-btn:hover {
  background-color: #0d0f38;
  color: #fff;
  transition: .4s ease-in;
}

.border-line {
  border-right: 2px solid #1d8475;
}

.blink_me {
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
    color: #147d6e;
  }
}


/* Media Query */

@media (min-width: 300px) and (max-width: 680px) {
  .banner-text-custom {
    text-wrap: wrap !important;
    font-size: 1.8rem !important;
  }

  .fixed-top {
    padding: 3px 10px !important;
  }

  .popup-modal-wrapper {
    width: 81%;
  }

  .book-sell-text {
    display: none;
  }

  .bk-sil.prev {
    left: -19px;
  }

  .bk-sil.next {
    right: -19px;
  }

  .main-banner-vid {
    height: 352vw;
  }

  video#vide {
    height: 352vw;
  }

  .faqs {
    margin: 20px;
  }

  .bk-sil2.prev {
    left: -38px;
  }

  .bk-sil2.next {
    right: -36px;
  }

  .connect-form-border {
    border-radius: 30px;
  }

  footer .footer-line:before {
    display: none;
  }

  .payment-card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 20px;
  }

  .width-container {
    width: 100% !important;
    margin: 0 auto;
  }

  .books-collage {
    display: none;
  }

  .client-logo-sec {
    margin-top: 40px;
    margin-bottom: 30px;
  }

  .bk-sil2.next svg,
  .bk-sil2.prev svg,
  .bk-sil.next svg,
  .bk-sil.prev svg {
    width: 24px;
  }

  .bk-sil2.next,
  .bk-sil2.prev,
  .bk-sil.next,
  .bk-sil.prev {
    width: 61px;
  }

  .main-banner-vid p {
    font-size: 19px;
  }

  .single-packages .package-badge {
    right: -9px;
    width: 68px;
  }

  .single-packages {
    margin: 0 auto;
  }

  .service-card-img {
    height: 100%;
  }

  .brand-cta-book {
    position: relative !important;
    top: -13px !important;
    left: 12px !important;
  }

  .brand-cta-vector::before {
    content: "";
    position: absolute;
    width: 303px !important;
    height: 536px !important;
    top: 27px !important;
    left: -2px !important;
  }

  .brand-primary-header-bg {
    padding: 41% 0 7% 0 !important;
  }

  .brand-choose-us-vector::before {
    width: 358px !important;
    height: 467px !important;
    top: 65px !important;
    left: -41px !important;
  }

  .brand-choose-us-img {
    position: relative !important;
    top: -4px !important;
    left: -1px !important;
  }

  .popup-form-wrapper {
    width: 100% !important;
  }

  .form-off-badge {
    position: absolute;
    right: 5px;
    top: -128px;
    z-index: 1000;
  }

  .home-popup-img-bg {
    display: none;
  }

  .home-close-btn-modal {
    right: -30px !important;
  }

  .responsive-back-to-top {
    left: 28px !important;
  }

  .brand-main-contact-wrapper {
    width: 100% !important;
  }

  .single-packages-footer {
    width: 342px;
  }

  .single-packages {
    width: 342px;
  }

  video#brandVideo {
    height: 333vw !important;
  }

  .brand-main-banner-video {
    height: 333vw !important;
  }

  .break-words {
    line-break: anywhere;
  }

  .brand-testimonials-card {
    margin: 0 !important;
  }

  .responsive-not-process {
    display: none;
  }

  .single-packages-footer h5 {
    font-size: 15px;
  }

  .get-started {
    padding: 11px 11px !important;
    font-size: 10px !important;
  }

  .new-lp-banner-btm .box {
    width: 100%;
  }

  .new-lp-popup-form .home-close-btn-modal {
    top: 10px;
    right: 8px !important;
  }

  .new-lp-banner-btn {
    font-size: 11px !important;
  }

  .header-form-off-badge {
    right: -9px !important;
    top: -44px !important;
    z-index: 1000 !important;
    width: 115px !important;
  }

  .lp3-banner-left-side-book {
    display: none;
  }

  .lp3-banner-right-side-book {
    display: none;
  }

  .get-quote-btn {
    margin-top: 24px;
  }

  .new-lp3-footer .content {
    text-align: start;
  }

  .new-lp3-tabs-section .tab-btn {
    margin-top: 10px;
  }

  .new-lp3-why-choose-us-title {
    margin-bottom: 25px;
  }

  .new-lp3-cta-sec {
    margin: 16px;
  }

  .new-lp-header-submit-btn {
    width: 100% !important;
    margin-bottom: 20px;
  }

  .head-logo {
    width: 172px !important;
  }

  .new-lp3-cta-sec .content {
    text-align: center;
  }

  .brand-process-content {
    position: absolute;
    top: 16px !important;
    left: 88px !important;
  }

  .brand-process-content-right {
    position: absolute;
    top: 10px !important;
    right: 90px !important;
  }

  .brand-process-content h2,
  .brand-process-content-right h2 {
    font-size: 12px !important;
    line-height: 15px !important;
  }

  .brand-process-content .para,
  .brand-process-content-right .para {
    text-wrap: balance;
    font-size: 9px !important;
    line-height: 13px !important;
    padding-bottom: -51px;
  }
  .expanded{
    max-height: 100% !important;
  }
  .chart-header-custom .heading{
    font-size: 15px;
  }
  .container-compare .responsive-width{
    width: 100%;
  }
  .bundle-comparison-chart tbody td{
    font-size: 14px;
  }
  .bundle-comparison-chart .chart-header-custom th{
    line-height: 1.5 !important;
  }
}


@media (min-width: 768px) and (max-width: 900px) {
  .tablet-margin-banner {
    margin: 0px !important;
  }
}


/* Brand Layout CSS */

.nav-top-bar {
  /* background: linear-gradient(90deg, rgba(19, 124, 109, 1) 0%, rgba(48, 150, 135, 1) 100%); */
  position: absolute;
  width: 100%;
}

/* .nav-top-bar svg{
  width: 17px;
} */
.brand-about-btn {
  background: #15184c;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 3px 5px #777777;
  padding: 9px 30px;
  border-radius: 40px;
  margin-top: 20px;
}

.brand-hero-bg-img {
  background-image: url(../public/brand-img/banner-img.webp);
  padding: 6% 0;
  background-repeat: no-repeat;
  background-size: cover;
}

.brand-nav-btn {
  background: linear-gradient(90deg, rgba(19, 124, 109, 1) 0%, rgba(48, 150, 135, 1) 100%);
  color: #fff;
  border-radius: 30px;
  padding: 8px 28px;
  box-shadow: 0 1px 5px #191b42;
}

.brand-banner-slider {
  background: linear-gradient(90deg, rgba(19, 124, 109, 1) 0%, rgba(48, 150, 135, 1) 100%);
}

.brand-hero-banner-form input,
.brand-hero-banner-form textarea {
  text-indent: 30px;
}

.brand-hero-banner-form button {
  background: linear-gradient(90deg, rgba(19, 124, 109, 1) 0%, rgba(48, 150, 135, 1) 100%) !important;
  padding: 9px 25px;
  transition: 0.3s ease-in-out !important;
}

.brand-hero-banner-form button:hover {
  background: transparent !important;
  transition: 0.3s ease-in-out !important;
}

.brand-cta-section {
  background: linear-gradient(90deg, rgb(156 126 94) 0%, rgb(195 161 126) 100%);
  background-size: cover;
  background-position: right;
  background-repeat:100% 100%;
  background-image: url(../public/brand-img/cta-bg-b.webp);
  border-radius: 36px;
}

.brand-cta-book {
  position: absolute;
  top: -29px;
  left: 9px;
  animation: upAndDown 3s ease-in-out .6s infinite
}

.brand-choose-us-img {
  position: absolute;
  left: -23px;
  width: 376px;
  bottom: -69px;
}

.brand-cta-vector::before {
  content: "";
  position: absolute;
  width: 398px;
  height: 462px;
  background-image: url(../public/brand-img/cta-vector.png);
  background-size: contain;
  background-repeat: no-repeat;
  top: -42px;
  left: -10px;
}

.brand-choose-us-section {
  /* background: #1e8677 !important; */
  background-image: url(../public/brand-img/cta-bg.webp);
  background-size: cover;
  background-position: right;
  border-radius: 36px;
}

/* .brand-choose-us-vector::before {
  content: "";
  position: absolute;
  width: 412px;
  height: 540px;
  background-image: url(../public/brand-img/why-choose-us-vector.png);
  background-size: contain;
  background-repeat: no-repeat;
  top: -24px;
  left: -78px;
} */

@keyframes upAndDown {

  0%,
  to {
    transform: translateZ(0)
  }

  50% {
    transform: translate3d(0, -2%, 0)
  }
}

.bg-image-1 {
  background-image: url('../public/brand-img/banner-img.jpg');
  background-position: center;
  padding: 6% 0;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-image-2 {
  background-image: url('../public/brand-img/banner-img.jpg');
  background-position: center;
  padding: 6% 0;
  background-repeat: no-repeat;
  background-size: cover;

}

.bg-image-3 {
  background-image: url('../public/brand-img/banner-img.jpg');
  background-position: center;
  padding: 6% 0;
  background-repeat: no-repeat;
  background-size: cover;
}

.slick-dots {
  position: absolute;
  bottom: 21px !important;
}

.slick-dots li button:before {
  font-size: 15px !important;
  padding: 0 !important;
  opacity: 1 !important;
  color: #e0e0e0 !important;
  line-height: 14px !important;
  height: 17px;
  width: 17px;
}

.slick-dots li.slick-active button:before {
  border: 3px solid #00b67a;
  color: #fff !important;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  height: 17px;
  width: 17px;
  top: -2px;
}

.slick-dots li button {
  color: #e0e0e0 !important;
}

.brand-service-section {
  /* background: linear-gradient(90deg, rgba(19, 124, 109, 1) 0%, rgba(48, 150, 135, 1) 100%) !important; */
  background-image: url(../public/brand-img/cta-bg-b.webp);
  background-position: top;
  background-size: 100% 100%;
    background-repeat: no-repeat;

}

.brand-service-card {
  color: #000;
}


.brand-service-card-content {
  background-color: #fff;
  width: 300px;
  padding: 20px;
  transition: .4s ease-in-out;
  cursor: pointer;
}

.brand-service-card .brand-service-card-img img {
  height: 100% !important;
  width: 300px !important;
}

.brand-service-card-content span {
  border-bottom: 6px solid #000;
}

.right {
  position: absolute;
  clip-path: polygon(50% 0%, 100% 50%, 50% 90%, 50% 24%);
  height: 81px;
  width: 86px;
  top: 0;
  right: -43px;
  /* background: #0d0f38; */
  background: linear-gradient(91deg, rgba(19, 124, 109, 1) 0%, rgba(48, 150, 135, 1) 100%);

  opacity: 0;
  transition: .4s ease-in-out;
  z-index: 1000;
}

.bottom {
  position: absolute;
  clip-path: polygon(14% 0, 13% 91%, 6% 100%, 6% 100%, 0 91%, 0% 0%);
  height: 40px;
  width: 86px;
  bottom: -40px;
  left: 50%;
  background: linear-gradient(91deg, rgba(19, 124, 109, 1) 0%, rgba(48, 150, 135, 1) 100%);
  opacity: 0;
  transition: .4s ease-in-out;
  z-index: 1;
}

.right-4 {
  position: absolute;
  clip-path: polygon(50% 0%, 100% 50%, 50% 90%, 50% 24%);
  height: 81px;
  width: 86px;
  bottom: 34px;
  left: -43px;
  /* background: #0d0f38; */
  background: linear-gradient(91deg, rgba(19, 124, 109, 1) 0%, rgba(48, 150, 135, 1) 100%);

  opacity: 0;
  transition: .4s ease-in-out;
  z-index: 1;
  transform: rotate(90deg);
  transform: scaleX(-1);
}

.bottom-4 {
  position: absolute;
  clip-path: polygon(14% 0, 13% 91%, 6% 100%, 6% 100%, 0 91%, 0% 0%);
  height: 40px;
  width: 86px;
  top: -40px;
  left: 50%;
  background: linear-gradient(91deg, rgba(19, 124, 109, 1) 0%, rgba(48, 150, 135, 1) 100%);
  opacity: 0;
  transition: .4s ease-in-out;
  z-index: 1;
  transform: rotate(90deg);
  transform: scaleY(-1);
}

.right-5 {
  position: absolute;
  clip-path: polygon(50% 0%, 100% 50%, 50% 90%, 50% 24%);
  height: 81px;
  width: 86px;
  bottom: 22px;
  right: -43px;
  /* background: #0d0f38; */
  background: linear-gradient(91deg, rgba(19, 124, 109, 1) 0%, rgba(48, 150, 135, 1) 100%);
  opacity: 0;
  transition: .4s ease-in-out;
  z-index: 1000;
}

.bottom-5 {
  position: absolute;
  clip-path: polygon(14% 0, 13% 91%, 6% 100%, 6% 100%, 0 91%, 0% 0%);
  height: 40px;
  width: 86px;
  top: -40px;
  left: 50%;
  background: linear-gradient(91deg, rgba(19, 124, 109, 1) 0%, rgba(48, 150, 135, 1) 100%);
  opacity: 0;
  transition: .4s ease-in-out;
  z-index: 1;
  transform: rotate(90deg);
  transform: scaleY(-1);
}

.brand-service-card:hover .bottom,
.brand-service-card:hover .right,
.brand-service-card:hover .right-4,
.brand-service-card:hover .bottom-4,
.brand-service-card:hover .right-5,
.brand-service-card:hover .bottom-5,
.brand-service-card:hover .brand-service-card-img span {
  opacity: 1;
  transition: .4s ease-in-out;
}

/* .brand-service-card-content:hover .square a{
  opacity: 1;
} */

.brand-service-card-content:hover {
  background: linear-gradient(91deg, rgba(19, 124, 109, 1) 0%, rgba(48, 150, 135, 1) 100%);
  color: #fff;
  border-color: #fff !important;
}

.brand-service-card-content:hover span {
  border-color: #fff !important;
}

.brand-service-card-content:hover .icon {
  filter: invert(1);
}

.square {
  height: 100%;
  width: 100%;
  background: transparent;
  border: 0 solid white;
  transition: border-width 0.4s linear;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  z-index: 1000;
}

.square a {
  background-color: #fff;
  color: #000;
  opacity: 0.6;
  padding: 10px 20px;
  font-weight: bold;
}

.square:hover {
  opacity: 1;
}

.brand-choose-us-section ul {
  color: #fff;
  font-size: 22px;
  font-weight: bold;
}

.brand-choose-us-audio-wrapper {
  background-color: #fff;
  padding: 10px;
  width: auto;
}

.brand-faq-icon {
  width: 21px;
  filter: invert();
}

/* .brand-submit-btn {
  background: linear-gradient(90deg, rgba(19, 124, 109, 1) 0%, rgba(48, 150, 135, 1) 100%);
  color: #fff;
  box-shadow: 0 3px 5px #777777;
  padding: 9px 40px;
  border-radius: 13px;
  margin-top: 20px;
} */

.brand-submit-btn {
  border-radius: 13px;
  background: linear-gradient(90deg, rgba(19, 124, 109, 1) 0%, rgba(48, 150, 135, 1) 100%);
  border: none;
  color: #fff;
  text-align: center;
  font-size: 20px;
  padding: 7px 40px;
  width: 180px;
  transition: all 0.5s;
  cursor: pointer;
  box-shadow: 0 10px 20px -8px rgba(0, 0, 0, .7);
}

.brand-submit-btn {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.brand-submit-btn:after {
  content: '»';
  position: absolute;
  opacity: 0;
  top: 5px;
  right: -20px;
  transition: 0.5s;
}

.brand-submit-btn:hover {
  padding-right: 24px;
  padding-left: 8px;
}

.brand-submit-btn:hover:after {
  opacity: 1;
  right: 22px;
}


/* .hover-top-vector{
  content: "";
  position: absolute;
  top: 0;
  left: 24%;
  height: 100px;
  width: 200px;
  background-color: #0d0f38;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
} */


/* .single-packages:hover .hover-top-vector {
  width: 80%;
  background-color: #0d0f38;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  position: relative;
  left: 10%;
  transition: .4s ease-in-out;
  color: #fff;
  height: 128px;
} */


.brand-connect-form-input {
  text-indent: 30px;
  padding: 14px;
}

/* .contact-form-bg-img {
  background-image: url(../public/brand-img/contact-bg-img.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 50vh;
  width: 100%;
  position: absolute;
  z-index: -1;
  bottom: -20px;
} */

.brand-testimonials-card {
  width: 100%;
  background-color: #e8e4e4;
  padding: 23px;
}

.brand-testimonials-card span {
  font-weight: bold;
}

.brand-testimonials-card p {
  font-size: 16px !important;
}

.brand-process {
  background-color: #E6DED8;
}

.service-card-img:before {
  position: absolute;
  content: "";
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 168, 157, 0.4);
  -webkit-transition: opacity 500ms ease, visibility 500ms ease, -webkit-transform 500ms ease;
  transition: opacity 500ms ease, visibility 500ms ease, -webkit-transform 500ms ease;
  transition: opacity 500ms ease, visibility 500ms ease, transform 500ms ease;
  transition: opacity 500ms ease, visibility 500ms ease, transform 500ms ease, -webkit-transform 500ms ease;
  visibility: hidden;
  opacity: 0;
  -webkit-transform: translateY(-70%);
  transform: translateY(-70%);
  z-index: 1;
}

.brand-service-card:hover .service-card-img:before {
  visibility: visible;
  -webkit-transform: translateY(0%);
  transform: translateY(0%);
  opacity: 1;
}

.service-card-img {
  position: relative;
  display: block;
  overflow: hidden;
}


.brand-primary-header-bg {
  background-image: url(../public/brand-img/banner-img.jpg);
  padding: 14% 0 7% 0;
  background-repeat: no-repeat;
  background-size: cover;
}

.brand-portfolio-books .active {
  background-color: #05092a;
  border: 1px solid #157d6e;
  color: #fff;
}

.brand-portfolio-books .in-active {
  background: linear-gradient(90deg, rgba(19, 124, 109, 1) 0%, rgba(48, 150, 135, 1) 100%);
  color: #fff;
}

.transparent-connect-form-border {
  background-color: #87929d6b !important;
  backdrop-filter: blur(4px);
}

.dark-form-bg {
  background: #433f3fe6;
}

.home-popup-modal-wrapper {
  width: 80%;
  height: 522px;
}

.form-off-badge {
  position: absolute;
  right: 21px;
  top: -71px;
  z-index: 1000;
}

.home-connect-form-input {
  background-color: #fff;
  font-size: 17px;
  border-radius: 10px;
  border: 2px solid #fff0;
  padding: 3px 17px;
  /* padding: 17px; */
}

.home-popup-img-bg {
  height: 450px !important;
}

.popup-form-wrapper {
  width: 38%;
}

.home-close-btn-modal {
  position: absolute;
  top: -21px;
  background: #2c9384;
  right: -76px;
  border-radius: 50%;
}

.home-close-btn-modal svg {
  filter: invert(1);
}

.text-blink,
.powered-by-text {
  animation: 4s linear infinite key-second;
  -webkit-animation: 4s ease-in-out infinite key-second;
  background-color: transparent !important;
}

/* .powered-by-text {
  animation: 4s linear infinite key-third ;
  -webkit-animation: 4s ease-in-out infinite key-third ;
  background-color: transparent !important;
} */

@-webkit-keyframes key-second {

  0%,
  100%,
  20%,
  40%,
  60%,
  80% {
    color: #fff
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    color: #00ff51
  }
}

.header-form-off-badge {
  position: absolute;
  right: -29px;
  top: -40px;
  z-index: 1000;
  width: 130px;
}

.powered-by-text {
  font-weight: bold;
}

.brand-testimonials-card:hover {
  color: #fff;
  transition: .4s ease-in-out;
}

.brand-testimonials-card {
  display: block;
  position: relative;
  background-color: #e8e4e4;
  border-radius: 4px;
  margin: 12px;
  text-decoration: none;
  z-index: 0;
  overflow: hidden;
}

.brand-testimonials-card:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: -16px;
  right: -16px;
  background: linear-gradient(90deg, rgba(19, 124, 109, 1) 0%, rgba(48, 150, 135, 1) 100%);
  height: 32px;
  width: 32px;
  border-radius: 32px;
  transform: scale(5.5);
  transform-origin: 50% 50%;
  transition: transform 0.25s ease-out;
}

.brand-testimonials-card:hover:before {
  transform: scale(45);
  color: #fff;
}

.service-dropdown-icon {
  filter: invert(1);
}

.fixed-top {
  position: fixed !important;
  transition: .3s ease-in;
  background-color: #91775c;
  width: 100% !important;
  top: 0 !important;
  padding: 3px !important;
}


.fixed-top .brand-nav-btn {
  background: #ffffff !important;
  color: #000;
}

.audioPlayer {
  background: #fff;
  padding: 10px;
  border-radius: 22px;
  display: inline-block;
}


.brand-main-contact-wrapper {
  background: linear-gradient(90deg, rgba(19, 124, 109, 1) 0%, rgba(48, 150, 135, 1) 100%);
  box-shadow: 0 10px 20px -8px rgba(0, 0, 0, .7);
  border-radius: 40px;
  width: 70%;
}

.brand-main-contact-form {
  background-color: #e9e9e9;
  border-radius: 40px;
}


audio::-webkit-media-controls-mute-button {
  border-radius: 50%;
}

audio::-webkit-media-controls-panel {
  background-color: #167e6e64;
}

audio::-webkit-media-controls-play-button:hover {
  background-color: rgba(177, 212, 224, .7);
}

.brand-main-banner-video {
  height: 100vh;
  background: #0000009e;
}

.brand-video {
  height: 100vh;
}

video#brandVideo {
  position: absolute;
  z-index: -1;
  height: 100vh;
  width: 100%;
  object-fit: cover;

}

.brand-portfolio-books img {
  height: 100%;
}

[data-aos] {
  will-change: transform, opacity;
}

.brand-story-slider {
  border: 20px solid #fff;
}

.brand-process-content {
  position: absolute;
  top: 29px;
  left: 165px;
}

.brand-process-content p,
.brand-process-content-right p {
  text-wrap: balance;
  font-size: 14px !important;
  line-height: 17px;
}

.brand-process-content-right {
  position: absolute;
  top: 29px;
  right: 163px;
}

.brand-bundle-packages-wrapper button {
  border-radius: 15px;
  text-align: center;
}

.brand-bundle-packages-wrapper .active {
  background: linear-gradient(90deg, rgba(13, 15, 56, 1) 0%, rgba(27, 30, 93, 1) 100%);
  width: 116%;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  transition: .3s ease-in-out;
}

.brand-bundle-packages-wrapper .in-active {
  background: linear-gradient(90deg, rgba(19, 124, 109, 1) 0%, rgba(48, 150, 135, 1) 100%);
  transition: .3s ease-in-out;
}

.brand-bundle-packages-content {
  background: linear-gradient(264deg, rgba(13, 15, 56, 1) 0%, rgba(27, 30, 93, 1) 100%);
  border-radius: 15px;
  /* width: 58%; */
}

.brand-bundle-packages-content ul {
  margin-left: 0px;
  line-height: 33px;
}

.brand-bundle-packages-wrapper {
  width: 66%;
}

.brand-bundle-packages-wrapper .brand-bundle-packages-tabs {
  width: 54%;
}

.brand-bundle-packages-content .price {
  font-size: 21px !important;
}

.slideContent {
  position: relative;
}

.imageOverlay {
  position: absolute;
  bottom: 20px;
  left: 21px;
  background-color: rgb(255 255 255 / 58%);
  color: white;
  padding: 5px 10px;
  border-radius: 0;
  width: 89%;
  text-align: left;
}

.imageOverlay p {
  color: #573f3b;
  font-weight: bold;
}

.navButton {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
  z-index: 10;
}

.brand-story-sec .bk-sil2.prev {
  top: 50% !important;
  left: -36px !important;
  z-index: 99999;
}

.bk-sil2.next {
  position: absolute;
  top: 50% !important;
  right: -34px !important;
  /* z-index: 99999; */
}

.brand-story-sec::after {
  content: "";
  position: absolute;
  left: 0;
  /* top: 0; */
  width: 100%;
  height: 57%;
  background-image: url(../public/brand-img/story-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  bottom: 0;
}

.glightbox-clean .gslide-description {
  display: none;
}

.brand-custom-dropdown-menu {
  width: 100%;
  left: 0;
  right: 0;
  top: 31px;
}

.brand-custom-dropdown-menu ul li a:hover {
  padding-left: 8px;
  transition: .3s ease-in-out;
  color: #258c7d;
  font-weight: bold;
}

.brand-custom-dropdown-menu ul li a {
  transition: .3s ease-in-out;
}

.new-lp-banner {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(19, 124, 109, 0.4)), url(../public/images/new-lp-banner.webp) no-repeat left top #081036;
  background-size: cover;
  text-align: center;
  padding: 190px 0 70px;
  color: #fff;
}

.new-lp3-banner-section {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(19, 124, 109, 0.4)), url('../public/images/banner-lp3.webp') no-repeat left top #081036;
  background-size: cover;
  text-align: center;
  padding: 190px 0 70px;
  color: #fff;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  overflow: hidden;
}

.fa-check:before {
  content: "✔";
  color: #1e8677;
  padding-right: 7px;
}

.new-lp-banner .banner-features {
  font-size: 14px;
}

.new-lp-banner-btn {
  display: inline-block;
  width: 270px;
  text-align: center;
  margin: 29px 7px 0;
  background: linear-gradient(90deg, rgba(19, 124, 109, 1) 0%, rgb(7 84 72) 100%);
  color: #fff;
  text-transform: uppercase;
  padding: 14px 10px;
  font-size: 17px;
  border-radius: 80px;
  margin-bottom: 23px;
  text-shadow: #000 0 1px 1px;
  font-weight: 500;
}

.new-lp-banner-btn-chat {
  background: #333 !important;
}

.new-lp-header {
  position: absolute;
  width: 100%;
  z-index: 1;
  top: 0;
  left: 0;
  padding: 20px 0;
  background-color: #0000006b;
}

.get-started {
  display: block;
  border: #1e8677 2px solid;
  color: #fff;
  padding: 11px 42px;
  border-radius: 136px;
  text-transform: uppercase;
  font-size: 15px;
  letter-spacing: 1px;
}

.new-lp-header-submit-btn {
  background: linear-gradient(90deg, rgba(19, 124, 109, 1) 0%, rgb(7 84 72) 100%);
  color: #fff;
  border-radius: 0.25rem;
  padding: 10px 11px;
  font-weight: 600;
  margin-left: 0;
  font-size: 14px;
  width: 148px;
}

.new-lp-banner-form input {
  height: 45px;
  border-radius: 0.25rem;
  padding-left: 15px;
  border: none;
  background-color: #e2e2e2;
  width: 324px;
}

.new-lp-banner-form-wrapper {
  /* display: flex;
  align-items: center;
  justify-content: center; */
  margin-bottom: 40px;
  background-color: #ebebeb75;
  padding: 20px;
  border-radius: 0.25rem;
  width: 100%;
  list-style-type: none;
  box-shadow: rgb(0 0 0 / 16%) 0px 10px 36px 0px, rgb(0 0 0 / 6%) 0px 0px 0px 1px;
  border: 5px solid #ebebeb75;
  flex-wrap: wrap;
  gap: 15px;
  width: max-content;
  margin: 0 auto;
}

.new-lp-banner-btm .box {
  text-align: center;
  background: #333;
  color: #fff;
  padding: 28px;
  height: 128px;
  overflow: hidden;
}

.box-1,
.box-3 {
  background: #333;
}

.box-2 {
  background: linear-gradient(90deg, rgba(19, 124, 109, 1) 0%, rgb(7 84 72) 100%) !important;
}

.new-lp-counter-container {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}

.new-lp-counter-container .circleContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.new-lp-counter-container .svg {
  width: 100px;
  height: 100px;
}

.new-lp-counter-container .circleBackground {
  fill: none;
  stroke: #e5e7eb;
  stroke-width: 10;
}

/* .new-lp-counter-container .circleForeground {
  fill: none;
  stroke-width: 10;
  stroke-linecap: round;
  transition: stroke-dashoffset 1s linear;
} */


.new-lp-counter-container .circleBackground {
  fill: none;
  stroke: #e5e7eb;
  stroke-width: 10;
}

.new-lp-counter-container .circleForeground {
  fill: none;
  stroke-width: 10;
  stroke-linecap: round;
  transition: stroke-dashoffset 1s linear;
}

.new-lp-counter-container .hours {
  stroke: #3b82f6;
}

.new-lp-counter-container .minutes {
  stroke: #34d399;
}

.new-lp-counter-container .seconds {
  stroke: #f87171;
}

.new-lp-counter-container .timeLabel {
  position: absolute;
  top: 20%;
  font-size: 12px;
  color: #fff;
}

.new-lp-counter-container .timeValue {
  position: absolute;
  top: 43%;
  font-size: 1.2rem;
  font-weight: bold;
}

.new-lp-banner-btm h6 {
  font-size: 19px;
}

.new-lp-about-book ul li {
  display: inline-block;
  width: 49%;
  margin-bottom: 21px;
  color: #000;
  font-size: 14px;
  font-weight: 500;
}

.new-lp-about-book .btn {
  display: inline-block;
  text-align: center;
  background: linear-gradient(90deg, rgba(19, 124, 109, 1) 0%, rgb(7 84 72) 100%);
  color: #fff;
  text-transform: uppercase;
  padding: 11px 40px;
  font-size: 17px;
  border-radius: 80px;
  font-weight: 500;
  margin-top: 26px;
  letter-spacing: 0.5px;
}

.new-lp-about-book p {
  font-size: 15px !important;
  line-height: 28px;
}

.new-lp-portfolio {
  background: #ededed;
}

.new-lp-portfolio .active {
  background-color: #333;
  border: none !important;
}

.new-lp-portfolio .in-active {
  background: #1e8677 !important;
  color: #fff !important;
  border: none !important;
}

.new-lp-cta-sec {
  background: linear-gradient(90deg, rgba(19, 124, 109, 1) 0%, rgb(7 84 72) 100%);
  padding: 60px 0 0;
  color: #fff;
  font-size: 22px;
}

.new-lp-cta-sec h3 span {
  color: #fff18f;
  font-weight: 700;
}

.new-lp-cta-sec h3 {
  font-size: 40px;
  font-weight: 700;
  line-height: 53px;
}

.new-lp-cta-sec svg {
  width: 20px;
}


.new-lp-footer {
  background-color: #333;
}

.new-lp-copyright-sec {
  background: #2b2a2a;
}

.new-lp-copyright-sec .powered-by-text,
.new-lp-banner .powered-by-text {
  animation: 4s linear infinite key-third;
  -webkit-animation: 4s ease-in-out infinite key-third;
  background-color: transparent !important;
}

@-webkit-keyframes key-third {

  0%,
  100%,
  20%,
  40%,
  60%,
  80% {
    color: #fff
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    color: #1e8677
  }
}

.new-lp-testimonials .content:before {
  content: open-quote;
  color: #f5f5f5;
  font-size: 300px;
  position: absolute;
  left: 33%;
  top: -91px;
  z-index: 0;

}

.new-lp-testimonials .brand-testimonials-card p {
  height: 250px;
  overflow-y: scroll;
}

.new-lp-testimonials p::-webkit-scrollbar-track {
  background-color: transparent !important;
}


.new-lp-footer-logo {
  background-color: #2b2a2a;
}

.new-lp-popup-form {
  background: #fff;
  overflow: visible;
  border-bottom: #0f6f61 5px solid;
  border-radius: 27px;
  /* animation: bouncepop 2s infinite; */

}

.new-lp-popup-form input {
  background: #fafafa;
  border: #dcdcdc 1px solid;
  padding: 10px 10px 10px 34px;
  width: 100%;
  border-radius: 7px;
  font-size: 14px;
  color: #000;
  box-shadow: none !important;
  outline: none 0px !important;
}

.new-lp-popup-form textarea {
  background: #fafafa;
  border: #dcdcdc 1px solid;
  padding: 10px 10px 10px 34px;
  width: 100%;
  border-radius: 7px;
  font-size: 14px;
  color: #000;
  box-shadow: none !important;
  outline: none 0px !important;
}

.new-lp-popup-form .home-close-btn-modal {
  position: absolute;
  top: 15px;
  background: linear-gradient(90deg, rgba(19, 124, 109, 1) 0%, rgb(7 84 72) 100%);
  color: #fff !important;
  right: -2px;
  border-radius: 50%;
  box-shadow: #00000082 0 0px 6px;
  font-weight: 600;
  border: #ffffff 3px solid;
  padding: 3px;
  width: 43px;
  display: flex;
  justify-content: center;
}

.new-lp-popup-form .coupon-text {
  border-left: #0f6f61 6px solid;
  text-align: left;
  line-height: 27px;
  padding-left: 15px;
  text-transform: uppercase;
}

.new-lp-popup-form .coupon-text-2 {
  color: #0f6f61;
  font-size: 24px;
  margin-left: 21px;
  text-align: left;
  margin-bottom: 16px;
}

.new-lp-popup-submit-btn {
  background: linear-gradient(90deg, rgba(19, 124, 109, 1) 0%, rgb(7 84 72) 100%) !important;
}

.new-lp-footer-logo img {
  width: 121px !important;
}


.new-lp-about-book .logos {
  background-color: #333;
  padding: 20px;
  border-radius: 47px;
}


.responsive-back-to-top {
  animation: waveBtn 2s infinite;
}

@keyframes waveBtn {
  0% {
    box-shadow: 0 0 0 0 rgb(0, 167, 157)
  }

  50% {
    box-shadow: 0 0 0 40px transparent
  }

  100% {
    box-shadow: 0 0 0 0 transparent
  }
}


.time-wrapper {
  color: #fff;
  font-size: 12px;
}

.time-wrapper .time {
  font-size: 23px;
  font-weight: bold;
}

.nav-link-hover-img {
  width: 100% !important;
  height: 100% !important;
}

.about-logos-sec {
  /* background-color: #1a8273; */
  /* padding: 20px; */
  border-radius: 10px;
}

.banner-text-custom {
  font-size: 2.1rem !important;
  text-wrap: nowrap;
}

.lp3-banner-list li:before {
  content: "✓";
  left: 5px;
  border-radius: 100%;
  width: 20px;
  height: 20px;
  font-size: 12px;
  padding: 3px 6px;
  background: rgba(50, 210, 181, 1);
  color: rgba(var(--light-color), 1);
  margin-right: 10px;
}

.lp3-banner-left-side-book {
  position: absolute;
  left: 0%;
  transform: rotate(19deg);
}

.lp3-banner-right-side-book {
  position: absolute;
  right: 0%;
  transform: rotate(340deg);
}

.new-lp3-why-choose-us-number {
  font-family: Merriweather, serif;
  font-size: 70px;
  font-weight: bold;
  color: #1e8677;
}

.new-lp3-why-choose-us-title h4,
.new-lp3-why-choose-us-title h2,
.new-lp3-why-choose-us-title h1 {
  font-family: Merriweather, serif;
  font-weight: bold;
}

.new-lp3-why-choose-us-counter-box {
  background: linear-gradient(90deg, rgba(19, 124, 109, 1) 0%, rgb(7 84 72) 100%);
  border-radius: 25px;
  padding: 40px;
  width: 100%;
  height: 150px;
}

.new-lp3-why-choose-us-counter-box h2 p {
  font-family: Merriweather, serif;
  font-weight: bold;
  font-size: 30px !important;
  color: #fff;
  padding-bottom: 14px;
}

.new-lp3-cta-sec {
  background: #ebebeb75;
  padding: 27px;
  border: 7px solid #1e8677;
  border-radius: 25px;
}

.new-lp3-cta-sec .icon,
.tab-one-content .icon,
.new-lp3-footer .icon {
  width: 40px;
  height: 40px;
  padding: 12px;
  border-radius: 50%;
  background-color: #1e8677;
  display: flex;
  justify-content: center;
  align-items: center;
}

.new-lp3-cta-sec .icon svg,
.tab-one-content .icon svg,
.new-lp3-footer .icon svg {
  font-size: 20px;
  width: 20px;
}

.new-lp3-cta-sec .content h3,
.tab-one-content .content h3,
.new-lp3-footer .content h3 {
  font-size: 17px;
  font-weight: bold;
  color: #1e8677;
  cursor: pointer;
  line-height: 16px;
}

.new-lp3-cta-sec .content p,
.tab-one-content .content p,
.new-lp3-footer .content p {
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

.new-lp3-cta-sec .get-quote-btn,
.tab-one-content .get-quote-btn {
  background: linear-gradient(90deg, rgba(19, 124, 109, 1) 0%, rgb(7 84 72) 100%);
  border-radius: 40px;
  color: #fff;
  padding: 10px 30px;
}

.new-lp3-tabs-section .in-active {
  background: linear-gradient(90deg, rgba(19, 124, 109, 1) 0%, rgb(7 84 72) 100%);
  color: #fff;
  border-radius: 30px;
  width: 100%;
  padding: 37px 25px;
  transition: 0.4s ease-in-out;
  height: 200px;
}

.new-lp3-tabs-section .active {
  background-color: #1a1d5a;
  color: #fff;
  border-radius: 30px;
  width: 100%;
  padding: 37px 25px;
  transition: 0.4s ease-in-out;
  height: 200px;
}

.new-lp3-tabs-section .active img {
  filter: invert(1);
}

.new-lp3-tabs-section .tab-btn span {
  font-size: 14px;
  text-transform: uppercase;
}

.new-lp3-tabs-section .tab-btn img {
  filter: invert(1);
}


.new-lp3-testimonials .card {
  background: #1e8677;
  border-radius: 25px;
  padding: 40px;
}

.new-lp3-testimonials h3 {
  font-family: Merriweather, serif;
  font-weight: bold;
  color: #fff;
  font-size: 15px;
}

.new-lp3-testimonials .bk-sil.prev {
  z-index: 99999999999;
  left: -2px;
}

.new-lp3-testimonials .bk-sil.next {
  z-index: 99999999999;
  right: -5px;
}

.new-lp3-footer {
  background-image: url('../public/images/footer-newlp-3.webp');
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}

.new-lp3-footer h3 {
  font-family: Merriweather, serif;
  font-weight: bold;
  color: #fff;
  font-size: 22px;
}

.new-lp3-process-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  counter-reset: chapter
}

.new-lp3-process-wrapper .process-item {
  width: 145px;
  padding: 140px 0;
  position: relative;
  transition: .5s
}

.new-lp3-process-wrapper .process-item div {
  transition: .5s;
  width: 190px;
  height: 190px;
  background-size: 100% 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center
}

.new-lp3-process-wrapper .process-item:nth-child(odd) .p-img {
  top: -12px;
  right: -40px;
}

.new-lp3-process-wrapper .process-item .p-img {
  position: absolute;
  /* z-index:-1; */
}

.new-lp3-process-wrapper .process-item img:nth-child(4),
.new-lp3-process-wrapper .process-item:last-child .p-img {
  display: none
}

.new-lp3-process-wrapper .process-item:nth-child(2n) .p-img {
  bottom: -16px;
  right: -40px;
}

.new-lp3-process-wrapper .process-item:hover div::after {
  background: rgb(30 134 119);
}

.new-lp3-process-wrapper .process-item h3 {
  font-size: 18px;
  font-weight: 500;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  margin-bottom: 0;
  counter-increment: chapter;
  display: flex;
  white-space: nowrap;
  justify-content: center;
  align-items: center
}

.new-lp3-process-wrapper .process-item:nth-child(odd) h3 {
  top: 0
}

.new-lp3-process-wrapper .process-item:nth-child(2n) h3 {
  bottom: 0
}

.new-lp3-process-wrapper .process-item div::before {
  width: 3px;
  height: 68px;
  content: "";
  position: absolute;
  top: -68px;
  background: #fff
}

.new-lp3-process-wrapper .process-item div::after {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  border: 3px solid #324056;
  border-radius: 100%;
  background: #fff;
  top: -84px
}

.new-lp3-process-wrapper .process-item:nth-child(2n) div:before {
  top: auto;
  bottom: -68px
}

.new-lp3-process-wrapper .process-item:nth-child(2n) div:after {
  top: auto;
  bottom: -84px
}

.new-lp3-process-wrapper .process-item h3::before {
  content: counter(chapter);
  display: inline-block;
  font-size: 50px;
  line-height: 43px;
  margin-right: 6px;
  font-weight: 600;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  color: #fff
}

.new-lp3-process-wrapper .process-item div img:first-child {
  max-height: 50px;
  transition: .5s;
  z-index: 11;
  position: relative
}

.new-lp3-process-wrapper .process-item.active,
.new-lp3-process-wrapper .process-item:hover {
  transform: translateY(-10px)
}

.new-lp3-process-wrapper .process-item.active div img:first-child {
  filter: brightness(0.23);
}

.new-lp3-process-wrapper .process-item.active h3::before,
.new-lp3-process-wrapper .process-item:hover h3::before {
  color: rgb(30 134 119);
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgb(30 134 119);
}

.new-lp3-process-wrapper .process-item img:nth-child(3),
.new-lp3-process-wrapper .process-item img:nth-child(4) {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0
}

.process-item {
  opacity: 1;
  transition: opacity 0.5s ease;
}

.process-item.active {
  opacity: 1;
}

.process-item-mob {
  background-color: #f6fffd;
  width: auto;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  margin: 20px;
  flex-direction: column;
  border: 5px solid rgb(30 134 119);
}

.process-item-mob h3::before {
  font-size: 18px;
  font-weight: 500;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  margin-bottom: 0;
  counter-increment: chapter;
  display: flex;
  white-space: nowrap;
  justify-content: center;
  align-items: center;
}

.border-dashed {
  border-style: dashed;
}

/* @-webkit-keyframes brightness {
  0%, 100%  { -webkit-filter: brightness(none); }
  50% { -webkit-filter: brightness(0.7); }
}

.abt-pic img {
  -webkit-animation: brightness 3s infinite;
} */

.bundle-comparison-chart tbody tr:nth-child(odd) {
  background-color: #d6d6d6;
}

.bundle-comparison-chart tbody tr:nth-child(even) {
  background-color: #f1efef;
}

.bundle-comparison-chart tbody tr {
  color: #000;
}

.bundle-comparison-chart .chart-header-custom th {
  /* background: #0d0f38; */
  color: #fff;
  border: none;
  font-size: 20px;
  line-height: 2.5;
  text-align: center;
}


.bundle-comparison-chart .chart-header-custom th:nth-child(2) {
  background-color: #147d6e;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  transition: 0.4s ease-in-out;
  box-shadow: 6px 5px 15px 8px rgba(0,0,0,0.1);
}

/* .bundle-comparison-chart .chart-header-custom th:hover:nth-child(2){
  padding-top: 20px;
  transition: 0.4s ease-in-out;
  box-shadow: 6px 5px 15px 8px rgba(0,0,0,0.1);
} */

.bundle-comparison-chart .chart-header-custom th:nth-child(3) {
  box-shadow: 6px 5px 15px 8px rgba(0,0,0,0.1);
  background-color: #0d0f38;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  transition: 0.4s ease-in-out;
}

.bundle-comparison-chart .chart-header-custom th:nth-child(4) {
  background-color: #147d6e;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  transition: 0.4s ease-in-out;
  box-shadow: 6px 5px 15px 8px rgba(0,0,0,0.1);
}

.bundle-comparison-chart tbody td {
  border: 1px solid #147d6e54;
}

.bundle-comparison-chart tbody tr:hover{
  box-shadow: 6px 5px 15px 8px rgba(0,0,0,0.1);
  cursor: pointer;
  margin-top: 6px;
}

.compare-now-btn{
  background-color: transparent;
  padding: 10px 30px;
  border-radius: 30px;
  color: #0d0f38;
  border: 1px solid #0d0f38;
  font-weight: bold;
  transition: 0.4s ease-in-out;
}

.compare-now-btn:hover{
  background-color: #147d6e;
  transition: 0.4s ease-in-out;
  color: #fff;
}

.compare-now-btn svg{
  width: 14px !important;
}

.compare-now-btn:hover svg{
  fill: #fff;
  color: #fff;
}

.container-compare {
  overflow: hidden;
  transition: max-height 0.8s ease-in-out;
}

.collapsed {
  max-height: 0;
  transition: 0.8s ease-in-out;
}

.expanded {
  max-height: 2400px; /* A large value to ensure full expansion */
  transition: 0.8s ease-in-out;
}
/* .brand-about-img{
  position: relative;
  top: 43px;
} */